<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test CSS</title>
    <link rel="stylesheet" href="static/css/test.css">
</head>
    <body>
        <h1>
            Example Header
        </h1>
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nulla tincidunt class mus donec nunc penatibus. Semper dis vulputate euismod; massa lorem porttitor. Sed vivamus morbi consectetur, massa ante sociosqu. Ante morbi dignissim nullam aptent curabitur mus accumsan. Dictum vivamus amet maecenas conubia maximus magna habitasse a. Pellentesque egestas curabitur justo sem bibendum mus pellentesque ad conubia.
        </p>
        <p>
            Pretium fermentum orci inceptos cubilia aliquam bibendum per. Curae finibus purus, sagittis nunc eleifend vel. Sagittis himenaeos libero mi id interdum. Nunc phasellus massa ridiculus diam, porta elit. Facilisi amet vehicula laoreet elit justo et augue platea tincidunt. Aptent volutpat facilisi turpis ac cubilia molestie finibus. Nec auctor aliquet netus pharetra condimentum et. Nascetur felis malesuada dictumst tincidunt imperdiet habitasse volutpat vitae. Congue nullam mi, lacus inceptos ultricies vivamus aptent leo condimentum.
        </p>
    </body>
</html>