<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test CSS</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
        }

        h1 {
            color: red;
        }

        p {
            color: blue;
            text-align: center;
        }

        .my_thing {
            color: green;
            font-size: 40px;
        }

        h1.my_thing {
            text-align: right;
        }

    </style>
</head>
    <body>
        <h1>TITLE WOW</h1>
        <p>
            Text Under the title!
        </p>
        <p class="my_thing">
            More text
        </p>
        <h1 class="my_thing">
            ANOTHER HEADER
        </h1>
    </body>
</html>