<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Social Media In A Day App :)</h1>
        <nav>
            |
            <a href="/trending">
                Trending
            </a> |
            <a href="/search">
                Search
            </a> |
            <a href="/login">
                Login
            </a> |
        </nav>
        <hr/>
    </header>

    <main>
        <p>Welcome to the super awesome social media here!</p>
        <p>I am glad social media is always so wholesome and epic and awesome and good for society</p>
    </main>

    <!--    I KNOW THERE ARE STYLES DOWN HERE JUST IGNORE THAT FOR NOW WE WILL GET THERE-->
    <footer style="bottom:0;position:absolute">
        <hr/>
        FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER
    </footer>
</body>
</html>